@import "../../styles/variables";

.checkout-page {
  overflow: hidden;

  .alert {
    margin: 0 auto;
    padding: 8px 12px;
    border-radius: 4px;
    text-align: center;
    color: $light_color;
    font-weight: 600;
    font-size: 1.2rem;
    width: 80%;
    line-height: 1.2;
  }

  .success {
    background: $green;
  }

  .danger {
    background: $red;
  }

  &-content {
    padding: 4rem 0;

    &-items {
      display: flex;
      flex-direction: column;
      max-width: 800px;
      width: 800px;


      @media screen and (max-width:800px) {
        width: auto;

      }


      margin: 0 auto;
      padding: 0 1rem;

      .items-header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        background: #eeeeee;
        margin-bottom: .5rem;

        .title {
          height: 50px;
          padding: 10px 1px;
          text-transform: uppercase;
        }

        .product {
          width: 40%;

          @media screen and (max-width:800px) {
            width: 30%;

          }


        }

        .quantity {
          width: 25%;

          @media screen and (max-width:800px) {
            width: 30%;

          }


        }

        .total {
          width: 25%;

          @media screen and (max-width:800px) {
            width: 30%;

          }

        }

        .remove {
          width: 10%;


        }
      }

      .links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem .5rem;

        .back {
          color: white;
          background: $red;

          &:hover {
            transform: scale(.98);
          }
        }

        .check {
          color: white;
          background: $dark_yellow;

          &:hover {
            transform: scale(.98);
          }
        }
      }
    }
  }
}